%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%page-size {
    width: 100vw;
    min-height: calc(100vh - 6.25rem);
    padding: 2rem;
}
