<form #gameForm="ngForm" class="game-form" (ngSubmit)="handleThrowBall()">
    <div class="form-group">
        <input
            type="text"
            placeholder="Enter Number Of Pins"
            name="pinNum"
            [(ngModel)]="pinsInput"
            #pinNum="ngModel"
            appGameInput
        />

        <div class="error-message">
            {{ pinNum.getError('gameInput') }}
        </div>
    </div>

    <app-button type="submit" [disabled]="!gameForm.valid || !gameForm.dirty" buttonText="Knock Pins"></app-button>
</form>
