<form #gameForm="ngForm" class="game-form" (ngSubmit)="handleThrowBall()">
    <div class="form-group">
        <input
            type="text"
            placeholder="Enter Number Of Pins"
            name="pinNum"
            [(ngModel)]="pinsInput"
            #pinsNum="ngModel"
            required
        />

        <div [hidden]="pinsNum.valid || pinsNum.pristine" class="error-message">Please enter a number betwenn 0-10</div>
    </div>

    <app-button type="submit" [disabled]="gameForm.invalid" buttonText="Knock Pins"></app-button>
</form>
